@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Capriola-Regular'; /*a name to be used later*/
    src: url('font/Capriola-Regular.ttf'); /*URL to font*/
}

body{
	font-family:'Capriola-Regular';
	font-size:12px;
	background-color:#130F1F;
	color:#FFF;
}

p{
  text-align: justify;
}

.mainNav{
	font-size: 12px;
}

a:link{
	color: #FFF;
	text-decoration: none;
}

a:hover{
	color: #FFA7E5;
	text-decoration: underline;
}

a:active{
	color: #FFD8A7;
	text-decoration: none;
}

a:visited{
	color: #FFF;
	text-decoration: none;
}

.unselectable{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	/*
	 Introduced in IE 10.
	 See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

#logoMain{
	font-size:20px;
	padding:0px;
	margin-left:7px;
	margin-top: 4px;
}

#forScrolling{
	position: absolute;
	background-color: transparent;
	top: 10px; /* Header Height */
    bottom: 10px; /* Footer Height */
    left:10px;
	right:10px;
	overflow: auto;
}

#frameMain{
	position: absolute;
	border-radius:10px;
	top: 10px; /* Header Height */
    bottom: 10px; /* Footer Height */
    left:10px;
	right:10px;
	overflow: auto;
	background-color:#221B37;
}

#frameInnerTop{
	position: relative;
	padding: 10px;
	top: 0px;
	height: 30px;
	border-radius:10px 10px 0px 0px;
	background-color:#561A3D;
	border-bottom: 5px solid #130F1F;
}

#frameSubTop{
	position: relative;
	padding:5px 17px 5px 17px;
	height: 15px;
	background-color: #6D3575;
	border-bottom: 5px solid #130F1F;
}

#frameHomeBanner{
	position:relative;
	height: 200px;
	background-color:#808080;
	overflow:hidden;
	background-repeat:repeat-x;
	display: none;
}

#frameHomeBannerLoader{
	position: absolute;
	display: none;
	font-size: 16px;
	width: 100%;
	height: 200px;
	line-height: 200px;
	vertical-align: middle;
	text-align: center;
}

#frameHomeBannerDummy{
	position:relative;
	height: 200px;
	background-color:#130F1F;
	border-bottom: 5px solid #130F1F;
	overflow:hidden;
}

#frameHomeContent{
	position:relative;
	padding:5px 17px 5px 17px;
}

.forPreloading{
	position: absolute;
	width: 0px;
	height: 0px;
	display: none;
	opacity: 0;
	overflow: hidden;
}

#gallerySubmenu{
	position: relative;
	padding:5px 17px 5px 17px;
	height: 15px;
	background-color:#564A7B;
	border-bottom: 5px solid #130F1F;
	display: none;
}

#galleryThumbsFrame{
	position: relative;
	padding: 10px;
}

#galleryAnimationFrame{
	position: relative;
	padding: 10px;
  display: none;
}

#gallery3dFrame{
  position: relative;
	padding: 10px;
  display: none;
}

.thumbnail{
	position:relative;
	width: 100px;
	height: 100px;
	float: left;
	display: inline-block;
	overflow: hidden;
	opacity: 0.5;
  vertical-align: middle;
}

.thumbnailPic{
	position: absolute;
	display: none;
}

.thumbnailLoadingFrame{
	position: absolute;
	display: inline-block;
	display: none;
	font-size: 14px;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	text-align: center;
}

.thumbnailLoadingText{
	display: inline-block;
	font-size: 12px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.thumbnailHover{
	position: absolute;
	width: 100px;
	top: 100px;
	background-color: rgba(0, 0, 0, .5);
}

.thumbnailDescFrame{
	display: none;
	position: absolute;
	width: 100px;
	height: auto;
	z-index: 100;
}

.thumbnailDesc{
	position: absolute;
	top: 5px;
	width: 100%;
	height: auto;
	padding: 5px;
	font-size: 11px;
	border-radius: 5px;
	background-color: rgba(225, 225, 225, .9);
	color: #000;
}

.thumbnailDescArrow {
	position: absolute;
	width: 0; 
	height: 0; 
	left: 50%;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid rgba(225, 225, 225, .9);
}

#frameAboutContent{
	position: relative;
	padding:5px 17px 5px 17px;
	display: none;
}

.collectionName{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: transparent;
	display: none;
	text-align: left;
	vertical-align: middle;
	margin-top: 0px;
	margin-bottom: 10px;
}

#highlightBox{
	position: absolute;
	top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    left:0px;
	right:0px;
	background-color: rgba(0, 0, 0, .5);
	display: none;
}

#lePic{
	position: fixed;
	display: none;
	border: 20px solid rgba(0, 0, 0, .5);
}

.highlightBoxNav{
	font-size: 30px;
	color: #FFF;
	position: fixed;
	text-align: center;
	width: 120px;
	background-color: rgba(0, 0, 0, .5);
	opacity: 0;
}

.highlightBoxNavSymbol{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.galleryBlankBreak{
	width: 100%;
	height: 30px;
	background-color: transparent;
	display: inline-block;
}

.aboutMePortrait{
  float: left;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.heart{
  color: #8E2D57;
}
